.navbar-expand-lg{
    display:flex;
    justify-content:space-between;
    padding: 1.2rem;
    box-shadow: 0 8px 20px -6px black;
    margin-bottom:4rem;
}
nav a{
    text-decoration: none;
    color:white;

}
nav>a{
    margin-left:10px;
}
nav a:hover{
    color:red;
}
.collapse{
    margin-left:4%;

}
.navbar-brand:hover{
    color:red;
}
nav ul{
    display:flex;
    justify-content:space-between;
}